@font-face {
  font-family: 'MyFont';
  src: url('./Pacifico.woff2') format('woff2'),
      url('./Pacifico.woff') format('woff');
      font-weight: 600;
      font-style: normal;
}



body {
  background-color: rebeccapurple;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background-color: white;
}